.wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    max-width: 800px; /* Điều chỉnh giá trị max-width tùy ý */
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.info {
    text-align: left;
}

.info p {
    margin-bottom: 10px;
}

.label {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 20px;
    color: rgba(80, 80, 80, 1);
    font-size: 12px;
}

.value {
    display: inline-block;
    width: 160px;
    text-align: left;
    color: rgba(80, 80, 80, 1);
    font-size: 12px;
}

.editButton {
    padding: 4px 14px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 8px;
    position: relative;
    top: -50px;
    left: 200px;
}

h4 {
    color: rgba(0, 113, 175, 1);
    margin: 0;
    margin-bottom: 10px;
}
